.box{
    width: 350px;
    height: 400px;
    margin: auto;
    text-align: center;
    border: 1px solid black;
    align-content: center;
    margin-top: 150px;
    background: white;
    border-radius: 30px;
    box-shadow: 7px 7px 7px rgb(33, 29, 53);
}

.userpass{
    border-radius: 30px;
    margin-top: -20px;
    width: 200px;
    height: 30px;
    text-align: center;
}

.bground{
    background-color: #FFE4E1;
}

.loginbutton{
    margin-top: 50px;
    width: 70px;
    height: 50px;
    border-radius: 30px;
    background-color: #1E90FF;
    font-family: 'Karantina', cursive;
    color: white;
    border: 20px;
}

.textlogin{
    margin-top: 30px;
	font-family: 'Odibee Sans', cursive;
    size: 20px;
}

.formbox{
    margin-top: 50px;
}